body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
* {box-sizing: border-box;}

.header {
    display: inline;
    margin: 10px 10%;
    display: flex;
    justify-content: space-between;
}

.fa {
    cursor: pointer;
    font-size: 25px;
    color: rgb(18, 92, 84);
}

.fa-shopping-basket:hover , .fa-globe:hover{
    color: rgba(19, 173, 122, 0.925);
}

.icons {
    float: right;
    display: flex;
    align-items: center;
}

#cart_counter {
  position: absolute;
  top: 2px;
  right:2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 1.1vw;
  text-align: center;
  font-weight: bold;
}

.icon{
    font-size: 25px;
    position: relative;
}

.icon a {
    display: inline-block;
    margin: 0 10px;
 }

.fa-search{
     color: white;
}
 
.fa fa-shopping-basket{
  position: relative;
  width:30px; 
    height:30px;
}

.searchBox {
    background: rgb(18, 92, 84);
    height: 50px;
    border-radius: 40px;
    padding: 5px;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchBox:hover > .searchButton .fa-search {
    color:rgb(18, 92, 84);
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(18, 92, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

::placeholder{
    color: white;
}

#logo {
    display: flex;
    margin-left: absolute;
    margin-right: auto;
    width: 50%;
}